__pycache__
.venv
test_folder
analyses
images
.mypy_cache
.pytest_cache
.ruff_cache
statistics.csv
report.md
thesis_data/**/*.wav
thesis_data/**/*.mp4
thesis_data/**/*.png
thesis_data/**/*.txt
!thesis_data/analyses
.python-versionthesis_data/audio/
thesis_data/image/
thesis_data/video/
